* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #cbcfd4;
  font-family: "Helvetica", "Arial", sans-serif;
  text-align: center;
}

p, h2 {
  padding: 10px;
  font-weight: normal;
}


.horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #696969;
  border-top: 2px solid #4f4f4f;
  border-bottom: 2px solid #4f4f4f;
}
li {
  float: left;
  border-right: 2px solid #4f4f4f;
}
.LIright {
  float: right;
  border-right: none;
  border-left: 2px solid #4f4f4f;
}
li a {
  display: block;
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
}
li a:hover {
  background-color: #2a6e6e;

}
#active {
  background-color: #29a6a6;

}


.container {
  margin: 0;
  height: 150px;
  padding: 0;
}
header {
  overflow: hidden;
}
header img {
  margin: none;
  padding: none;
  margin-left: 50%;
  transform: translateX(-50%);
  vertical-align: bottom;
}


@media (min-width: 600px) {
  p {
    font-size: 1.25rem;
  }

}
